<div class="container mt-4">
  <h1>Formulario de Registro</h1>
  <form #forma="ngForm" (ngSubmit)="enviarDatos(forma)">
    <div class="form-group">
      <label>Nombre</label>
      <input name="nombre" [(ngModel)]="persona.nombre" class="form-control" />
    </div>
    <div class="form-group">
      <label>Apellido</label>
      <input name="apellido"
       [(ngModel)]="persona.apellido" 
       class="form-control" 
       required
       />
    </div>
    <div class="form-group">
      <label>Es desarrollador?</label>
      <input type="checkbox" name="esDev" [(ngModel)]="esDev">
      <br>
      <label>Es Analista?</label>
      <input type="checkbox" name="esDev" [(ngModel)]="esAnalista">
      <br>
      <label>Es Team leader?</label>
      <input type="checkbox" name="esDev" [(ngModel)]="esTeamLeader">
    </div>
    <div class="form-group">
      <input class="form-group" type="radio" name="estadoCivil" value="Soltero" [(ngModel)]="estadoCivil">
      <label>Soltero</label> <br>
      <input class="form-group" type="radio" name="estadoCivil" value="Casado" [(ngModel)]="estadoCivil">
      <label>Casado</label> <br>
      <input class="form-group" type="radio" name="estadoCivil" value="Viudo" [(ngModel)]="estadoCivil">
      <label>Viudo</label> <br>
    </div>
    <button type="submit" class="btn btn-info">Enviar</button>
  </form>
  <div class="mt-5">
    <h2>Datos ingresados</h2>
    <p>Nombre: {{  persona.nombre }}</p>
    <p>Apellido: {{  persona.apellido }}</p>
    <p>Es desarrollador?: {{  esDev }}</p>
    <p>Estado civil: {{  estadoCivil }}</p>
  </div>
</div>